<h1>投稿内容入力</h1>

<!--入力フォーム-->
<%= form_with model: @review do |f| %>

  <div class="field">
    <%= f.label :item_images %>
    <%= f.file_field :item_images ,multiple: true, accept: "image/*"%>
  </div>

　<div class="field">
    <%= f.label :商品名 %>
    <%= f.text_field :name, id:"inputName", placeholder:"名前"%>
  </div>

  <div class="field">
    <%= f.label :コメント %>
    <%= f.text_field :caption, id:"inputName", placeholder:"メールアドレス"%>
  </div>

  <%= f.submit "投稿" %>
<% end %>
