<div class='container'>
  <div class='row justify-content-end'>
    <div class='col-3'>
      <%= render 'public/users/info', user: current_user %>
    </div>
    <div class="col-5 align-self-center">
      <div class="d-flex">
        <h2 class="flex-grow-1">投稿詳細画面</h2>
        <%= link_to(:back, class: 'align-self-center') do %>
          <i class="fas fa-times-circle fa-2x" style="color: #ff7f7f;"></i>
        <% end %>
      </div>

      <div class="text-center">
        <div class="card review-card", style="width: 100%; height: 80vh;">
          <% if @review.previous.present? %>
            <%= link_to review_path(@review.previous) do %>
              <div class="card-header text-muted">
                ▲
              </div>
            <% end %>
          <% else %>
              <div class="card-footer text-muted text-muted" data-toggle="tooltip" data-placement="bottom" title="先頭です">
                ▲
              </div>
          <% end %>
          <div class="img-container">
            <%= image_tag @review.item_image, class: "card-img-top img_show" if @review.item_image.attached? %>
          </div>
          <div class="card-body", style="position: relative;">
            <div class="review-tag border rounded-pill "><%="　" + "#{@review.tag}" + "　" %> </div>
            <h3 class="review-name d-flex justify-content-start"><%= @review.name %></h3>
            <p class="card-text"><%= safe_join(@review.caption.split("\n"),tag(:br)) %></p>
            <div class="d-flex mb-1", style="position: absolute; bottom: 0; width: 90%;">
              <%= image_tag @user.get_profile_image(70,70), style: "border-radius: 50%; width: 50px; height: 50px; object-fit:cover;" %>
              <p class="align-self-end ml-3"><%= @user.name %></p>
              <p class="<%= "good-" + @review.id.to_s %> text-right align-self-end flex-grow-1">
                <%= render "public/goods/good_btn", review: @review %>
              </p>
            </div>
          </div>
          <% if @review.next.present? %>
            <%= link_to review_path(@review.next) do %>
              <div class="card-footer text-muted">
                ▼
              </div>
            <% end %>
          <% else %>
              <div class="card-footer text-muted" data-toggle="tooltip" data-placement="top" title="最後です">
                ▼
              </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="row">
        <div class="col">
          <%= render 'public/comments/index', review: @review %>
        </div>
      </div>
      <div class="row">
        <div class="col d-flex">
          <%if user_signed_in? %>
            <%= render 'public/comments/form', review: @review, comment: @comment %>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col d-flex">
          <%if user_signed_in? %>
            <% if current_user.id == @review.user_id %>
             <%= link_to "編集", edit_review_path(@review), class: "btn btn-success" %>
             <p>　　</p>
             <%= link_to "削除", review_path(@review), method: :delete,data: {confirm: "投稿を削除しますか？"}, class: "btn btn-danger" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script>$('[data-toggle="tooltip"]').tooltip()</script>