<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>投稿詳細画面</h2>

      <div class="text-center">
        <div class="card review-card ">
          <%= image_tag @review.item_image, size: '500x400', class: "card-img-top" if @review.item_image.attached? %>
          <div class="card-body">
            <hr>
            <div class="review-tag border rounded-pill "><%="　" + "#{@review.tag}" + "　" %> </div>
            <h3 class="review-name d-flex justify-content-start"><%= @review.name %></h3>
            <p class="card-text"><%= safe_join(@review.caption.split("\n"),tag(:br)) %></p>
            <div class="d-flex justify-content-start">
               <%= image_tag @user.get_profile_image(100,100) %>
               <div class="align-self-end"><%= @user.name %></div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>