<% if user_signed_in? %>
  <div class="card">
    <div class="card-body">
      <p class="card-text d-flex justify-content-center">Log in</p>
      <hr>
      <div class="d-flex align-items-center justify-content-center">
        <%= image_tag user.get_profile_image(100,100) %>
      </div>
      <div class="card-text d-flex justify-content-center"><%= @user.name %></div>
      <hr>
      <p class="card-text d-flex justify-content-center"><%= link_to "ã„ã„ã­ðŸ‘ #{user.goods.count}", users_path %></p>
      <p class="card-text d-flex justify-content-center"><%= link_to "æŠ•ç¨¿ðŸ“ #{user.reviews.count}", users_path %></p>
      <p class="card-text d-flex justify-content-center"><%= link_to "æŠ•ç¨¿", new_review_path %></p>
    </div>
  </div>
<% end %>