<% if user_signed_in? %>
  <h2>ã€€</h2>
  <div class="card">
    <div class="card-body">
      <p class="card-text d-flex justify-content-center">ãƒ­ã‚°ã‚¤ãƒ³ãƒ¦ãƒ¼ã‚¶ãƒ¼</p>
      <hr>
      <div class="d-flex align-items-center justify-content-center">
        <%= image_tag user.get_profile_image(100,100), style: "border-radius: 50%; width: 100px; height: 100px; object-fit:cover;" %>
      </div>
      <br>
      <div class="card-text d-flex justify-content-center"><b><%= user.name %></b></div>
      <hr>
      <p class="card-text d-flex justify-content-center"><%= link_to "ã„ã„ã­ðŸ‘ #{user.goods.count}", users_goods_path %></p>
      <p class="card-text d-flex justify-content-center"><%= link_to "æŠ•ç¨¿æ•°ðŸ“ #{user.reviews.count}", users_path %></p>
      <p class="card-text d-flex justify-content-end">
        <%= link_to new_review_path do %>
          <i class="fas fa-plus-circle fa-2x"></i>
        <% end %>
      </p>
    </div>
  </div>
<% end %>