<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <% if user_signed_in? %>
        <h2>My Page</h2>
        <div class="m-5", style="background-color: white; border: solid #DCDCDC; border-radius: 10px;">
          <br>
          <div class="text-center m-2">
            <%= image_tag @user.get_profile_image(100,100), style: "border-radius: 50%; width: 100px; height: 100px; object-fit:cover;" %>
          </div>
          <p class="text-center"><b style="font-size: 120%;"><%= @user.name %></b></p>
          <hr>
          <p class="text-center"><%= link_to "ã„ã„ã­ðŸ‘ #{@user.goods.count}", users_path %></p>
          <p class="text-center"><%= link_to "æŠ•ç¨¿ðŸ“ #{@user.reviews.count}", users_path %></p>
          <p class="text-center"><%= @user.email %></p>
          <div class="text-center m-5"><%= link_to "ç·¨é›†", users_infomation_edit_path, class: "btn btn-success" %></div>
        </div>
      <% end %>
    </div>
  </div>
</div>