<div class='container'>
  <h2>My Page</h2>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <% if user_signed_in? %>
        <div class="card rounded">
          <div class="card-header bg-white">
            <br>
            <div class="d-flex align-items-center justify-content-center">
              <%= image_tag @user.get_profile_image(100,100) %>
            </div>
            <br>
            <div class="card-text d-flex justify-content-center"><%= @user.name %></div>
          </div>
          <div class="card-body">
            <br>
            <p class="card-text d-flex justify-content-center"><%= link_to "ã„ã„ã­ðŸ‘ #{@user.goods.count}", users_path %></p>
            <p class="card-text d-flex justify-content-center"><%= link_to "æŠ•ç¨¿ðŸ“ #{@user.reviews.count}", users_path %></p>
            <p class="card-text d-flex justify-content-center"><%= @user.email %></p>
            <br></br>
            <h3 class="card-text d-flex justify-content-center"><%= link_to "ç·¨é›†", users_infomation_edit_path, class: "btn btn-success" %></h3>
            <br>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>