<h1>сЃъсѓцсЃџсЃ╝сѓИ</h1>

<!-- сЃдсЃ╝сѓХсЃ╝сЂ«УЕ│у┤░ -->
<div>
  <%= image_tag @user.get_profile_image(100,100) %>
сђђ<h3><%= @user.name %></h3>
  <h3>сЂёсЂёсЂГ­ЪЉЇ <%= @reviews.count %></h3>
  <h3>ТіЋуе┐­ЪЊЂ <%= @reviews.count %></h3>
  <h3><%= @user.email %></h3>
  <%= link_to "уиежЏє", users_infomation_edit_path, class:"btn btn-success font-weight-bold" %>
</div>