<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>My Page</h2>
      <!-- сЃдсЃ╝сѓХсЃ╝сЂ«УЕ│у┤░ -->
      <div>
        <%= image_tag @user.get_profile_image(100,100) %>
      сђђ<h3><%= @user.name %></h3>
        <!--<h3>сЂёсЂёсЂГ­ЪЉЇ <%= @goods.count %></h3>-->
        <!--<h3>ТіЋуе┐­ЪЊЂ <%= @reviews.count %></h3>-->
        <h3><%= link_to "сЂёсЂёсЂГ­ЪЉЇ #{@goods.count}", users_path %></h3>
        <h3><%= link_to "ТіЋуе┐­ЪЊЂ #{@reviews.count}", users_path %></h3>
        <h3><%= @user.email %></h3>
        <h3><%= link_to "уиежЏє", users_infomation_edit_path %></h3>
      </div>
    </div>
  </div>
</div>

<!--<p>сЃєсѓ╣сЃѕ</p>-->
<!--<script type="text/javascript">-->
<!--  $(document).ready(function() {-->
<!--    $("p").text("ТѕљтіЪ№╝Ђ№╝Ђ");-->
<!--  });-->
<!--</script>-->